*{
    padding: 0;
    margin:  0;
}
.header__container{
    
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 70px;
}
.logo__container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
logo__container img {
    width: 80px;
    padding-top: 5px;
    padding-left:  20px;
    vertical-align: middle;

}
.delivery p{
    font-size: 10px;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
}
.search input{
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select{
    border: none;
}
.search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;

}
.search:focus-within{
    border: 2px solid rgb(235, 162, 173);
}
.order_container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}
.order_container a{
    text-decoration: none;
    color: white;
}
.order_container p{
    font-size: 10px;

}
.language{
    width: 100px;
    display: flex;
    padding: 10px;
}
.language select{
    background-color: #;
}