.Payment_header{
    padding: 20px;
text-align: center;
font-size: 24px;
background: rgb (234, 237, 237);
}
.Payment{
    padding: 30px;
}
.flex{
    display: flex;
    gap: 20px;
    padding: 30px;
}
.flex div{
    height: auto !important;
    width: 100%;
}
.flex h3{
    min-width: 300px;
}
.payment_card_container{
   max-width: 300px;
   width: 100%;  
}
.payment_details{
 font-size: 20px;   
}
.payment_price{
padding: 20px;    
}
.payment_price > div{
    display: flex;
    gap: 10px;
    font-size: 16px;
}
.payment_price button{
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: #febd69;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
.payment_price button:hover{
    background-color:#d49644; ;
}
.loading{
 display: flex;
 align-items: center;
 gap: 10px;
 justify-content: center;
 color: rgb(52,52,52);   
}
@media screen and (max-width: 768px) {
    .flex {
        flex-direction: columns;
    }
};
    

