.card_container{
    width: 250px;
    box-shadow: 0 0 10px rgba((0,0,0,0.2), green, blue, alpha);
padding: 10px;
color: black;
text-decoration: none;
position: relative;
}
.card_container button:hover{
    display: block;
}
.card_container img{

}